*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    border: 5rem solid rgb(114, 248, 170);

}
.header h1{
    text-align: center;
}

.map{
    text-align: center;
}
.map1{
    width: 80%;
    height: 80%;
    margin-top: 1rem;
}

@media only screen and (max-width: 658px)
{
    .header{
        border: 2rem solid rgb(114, 248, 170);
    }
    .map1{
        height: 85%;
    }

}
@media only screen and (max-width: 375px)
{
    .header{
        border: 5px solid rgb(114, 248, 170);
    }
    .map1{
        width: 100%;
    }

}

/* @media only screen and (max-width: 475px)
{
    .map1{
        height: 90%;
    }

} */